[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-webpack-loader = "*"
django-rest-auth = "*"
django-allauth = "*"
djangorestframework-jwt = "*"
requests = "*"
pymysql = "*"
django-mysql = "*"

[dev-packages]

[requires]
python_version = "3.9"
