[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-webpack-loader = "*"
django-rest-auth = "*"
django-allauth = "*"
djangorestframework-jwt = "*"
requests = "*"
pymysql = "*"
django-mysql = "*"
pyjwt = "==1.7.1"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.9"
