# gitignore

# kakao DEV API
/smart_store/smart_store_django/smart_store_project/my_settings.py

# vscode setting
/smart_store/smart_store_django/.vscode

# MAC OS meta data
/smart_store/smart_store_django/.DS_Store